@import 'mixins/fonts';
@import 'mixins/interactive-gradient-background';
@import 'mixins/gradient-text';
@import 'mixins/background-light';
@import 'mixins/media-queries';

.about-us {
  display: flex;
  justify-content: space-between;
  gap: 80px;

  margin-bottom: 165px;

  &__visual-content {
    position: relative;
  }

  &__img-container {
    position: relative;

    @include background-light('/src/assets/desktop/light_2.svg', 885px, 785px, -60px, auto, auto, -90px);

    &::after {
      content: '';

      position: absolute;
      top: 0;
      right: 0;
      bottom: 4px;
      left: 0;

      z-index: -2;
      background: url('/src/assets/desktop/person_in_vr_2_bg.png') no-repeat bottom left;
    }
  }

  &__img {
    width: 517px;
    height: 622px;
    margin-left: 25px;
  }

  &__video {
    position: absolute;
    right: 14px;
    bottom: -15px;
  }

  &__description {
    margin-top: 81px;

    &-caption {
      margin-bottom: 13px;

      @include caption1;
      @include gradient-caption;
    }

    &-header {
      margin-bottom: 11px;

      @include h2;
    }

    &-text {
      margin-bottom: 24px;

      @include body1;
    }

    &-list {
      list-style: none;

      margin-bottom: 32px;

      @include body3;

      &-item {
        display: flex;
        align-items: center;
        gap: 12px;

        margin-bottom: 14px;

        &:before {
          content: '';

          display: block;
          width: 16px;
          height: 16px;

          background: url('/src/assets/common/checkbox.svg') no-repeat;
        }
      }
    }

    &-btn {
      @include button1;
      @include interactive-gradient-background('hover');
    }
  }
}