.header {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;

  &__nav {
    display: flex;
    align-items: center;
    margin-left: 17px;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 64px;

    list-style: none;

    &__item:last-child {
      margin-left: 9px;
    }
  }

  &__contact-us {
    position: relative;
    cursor: pointer;
    background: var(--color-black-100);
    border: none;
    padding: 12px 24px;

    font-size: var(--fs-button2);
    font-weight: var(--fw-light);
    line-height: var(--lh-lg);
    color: var(--color-white);
    transition: transform 70ms ease-in;

    &::before,
    &::after {
      content: '';

      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;

      z-index: -1;
    }

    &::before {
      background: var(--color-linear);
    }

    &::after {
      opacity: 0;
      background: var(--color-linear-inverse);
      transition: opacity 500ms ease-in;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &:active {
      transform: scale(1.03); // Create a new stacking context for the parent element (button), so the pseudo-elements start to appear above the parent element, but in this case this is the desired behavior, so I did not change the implementation
    }
  }
}