@import "mixins/interactive-gradient-border";
@import "mixins/fonts";
@import "variables/screen-sizes";
@import "mixins/media-queries";

@mixin hamburger-menu-bar($number, $width) {
  &:nth-of-type(#{$number}) {
    width: $width;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  margin: 30px 0 44px;

  & .logo {
    margin-right: 6px;
  }

  &__nav {
    display: flex;
    align-items: center;

    &-list {
      display: flex;
      align-items: center;
      gap: 64px;

      list-style: none;
    }
  }

  &__contact-us-btn {
    border: none;

    @include button2;
    @include interactive-gradient-border(transparent, 'hover');
  }

  @include tablet {
    margin: 41px 0 44px;

    &__contact-us-btn {
      display: none;
    }

    &__nav {
      align-items: center;
      justify-content: center;

      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;

      width: 100%;
      height: 100vh;

      background-color: var(--color-black-100);
      transform: translateX(100%);
      transition: transform var(--transition-behavior);

      &-hamburger-showed {
        transform: translateX(0);
      }

      &-list {
        flex-direction: column;
        width: inherit;

        &-item {
          width: 100%;
          text-align: center;

          &::after {
            content: '';

            display: block;
            width: 100%;
            height: 1px;

            background-color: var(--color-white);
            opacity: 50%;
          }

          & > .arrow {
            display: none;
          }
        }
      }
    }
  }
}

.hamburger-menu {
  display: none;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  z-index: 11;

  @include interactive-gradient-border(transparent, 'hover');

  &__toggle {
    display: none;
  }

  &__bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 2px;

    width: 11px;
    height: 11px;
  }

  &__bar {
    display: block;
    background-color: var(--color-white);
    height: 2px;
    transition: all var(--transition-behavior);

    @include hamburger-menu-bar(1, 100%);
    @include hamburger-menu-bar(2, 75%);
    @include hamburger-menu-bar(3, 50%);

    &-hamburger-showed {
      &:nth-of-type(1) {
        width: 100%;
        transform: rotate(45deg) translate(2px, 3px);
      }

      &:nth-of-type(2) {
        width: 75%;
        opacity: 0;
      }

      &:nth-of-type(3) {
        width: 100%;
        transform: rotate(-45deg) translate(3px, -4px);
      }
    }
  }

  @include tablet {
    & {
      display: flex;
    }
  }
}