.header {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;

  &__nav {
    display: flex;
    align-items: center;
    margin-left: 17px;

    &-list {
      display: flex;
      align-items: center;
      gap: 64px;

      list-style: none;

      &-item:last-child {
        margin-left: 9px;
      }
    }
  }

  &__contact-us-btn {
    display: flow-root;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 12px 24px;

    font-size: var(--fs-button2);
    font-weight: var(--fw-light);
    line-height: var(--lh-lg);
    color: var(--color-white);

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      border: 1px solid transparent;
      transition: all 250ms ease-in;

      mask: linear-gradient(90deg, #fff 0%, #fff 100%) padding-box, linear-gradient(90deg, #fff 0%, #fff 100%);
      mask-composite: exclude;
    }

    &::before {
      background: var(--color-linear-gradient) border-box;
    }

    &::after {
      background: var(--color-linear-gradient-inverse) border-box;
      opacity: 0;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &:active {
      transform: scale(1.03);
    }
  }
}