@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import "mixins/fonts";
@import "mixins/media-queries";
@import "variables/screen-sizes";

:root {
  --family: 'Chakra Petch', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-h1: 64px;
  --fs-h2: 48px;
  --fs-h3: 40px;
  --fs-h4: 36px;
  --fs-h5: 32px;
  --fs-h6: 28px;
  --fs-h7: 20px;
  --fs-h8: 20px;
  --fs-h9: 18px;
  --fs-h10: 16px;
  --fs-h11: 16px;
  --fs-h12: 14px;

  --fs-body1: 16px;
  --fs-body2: 14px;
  --fs-body3: 16px;
  --fs-body4: 12px;

  --fs-caption1: 16px;
  --fs-caption2: 14px;
  --fs-caption3: 10px;

  --fs-button1: 14px;
  --fs-button2: 16px;

  --lh-xxl: 58px;
  --lh-xl: 44px;
  --lh-lg: 28px;
  --lh-md: 20px;
  --lh-sm: 14px;

  --color-linear-gradient-active: linear-gradient(90deg, #0CBAF1, #E95CE9);
  --color-linear-gradient-active-inverse: linear-gradient(90deg, #E95CE9, #0CBAF1);
  --color-linear-gradient-inactive: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  --color-purple: #CA6AEB;
  --color-blue: #19B5F1;

  --color-black-100: #18181B;
  --color-black-50: #252532;
  --color-grey-1: #B0B0B2;
  --color-grey-2: #D1D1D1;
  --color-white: #FFFFFF;

  --color-success: #00C566;
  --color-error: #FF4747;
  --color-warning: #FACC15;

  --transition-behavior: 200ms ease-in;
}

*, *::before, *::after {
  font-family: var(--family), sans-serif; // (sans-serif) So that linter doesn't swear, although it's declared in --family
  color: var(--color-white);

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-black-100);

  font-size: var(--fs-body1);
  font-weight: var(--fw-regular);
}

.container {
  position: relative;

  max-width: $xl;
  padding: 0 15px;
  height: 1000vh;
  margin: 0 auto;

  border: 1px solid #fff;
  background: url('/src/assets/desktop/wave_top_right.svg') no-repeat right top,
              url('/src/assets/desktop/wave_bottom_left.svg') no-repeat left bottom;
  overflow: hidden;


  @include mobile {
    background: url('/src/assets/mobile/wave_top_right.svg') no-repeat right top,
                url('/src/assets/mobile/wave_bottom_left.svg') no-repeat left bottom;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.link {
  text-decoration: none;

  @include body1;

  &_active {
    font-weight: var(--fw-medium);
  }

  & .arrow {
    left: 7px;
  }
}

// https://codepen.io/simonbreiter/pen/oLJrKy (long arrow also here)
.arrow {
  display: inline-block;
  position: relative;

  width: 2px;
  height: 4px;

  span {
    display: inline-block;
    position: absolute;

    width: 4px;
    height: 1px;

    background-color: var(--color-white);
    transition: transform var(--transition-behavior);

    &:first-of-type {
      left: 0;
      transform: rotate(-45deg);
    }

    &:last-of-type {
      right: 0;
      transform: rotate(45deg);
    }
  }

  &_open {

    span {

      &:first-of-type {
        transform: rotate(45deg);
      };

      &:last-of-type {
        transform: rotate(-45deg);
      }
    }
  }
}