@import 'mixins/fonts';
@import 'mixins/gradient-text';
@import 'mixins/interactive-gradient-border';
@import 'mixins/background-light';
@import 'mixins/media-queries';
@import "variables/screen-sizes";

@mixin card-position($number, $top, $right, $bottom, $left) {
  &:nth-of-type(#{$number}) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
}

.our-service {
  &__description {
    display: flex;
    justify-content: space-between;

    margin-bottom: 46px;

    @include background-light('/src/assets/desktop/light_3.svg', 613px, 619px, -205px, -140px, auto, auto);

    &-caption {
      margin-bottom: 11px;

      @include caption1;
      @include gradient-caption;
    }

    &-header {
      @include h2;
    }

    &-text {
      max-width: 667px;
      margin-top: 3px;

      @include body1;
    }
  }

  &__cards {
    position: relative;
  }

  &__card {
    display: flex;
    flex-direction: column;
    position: absolute;

    width: 379px;
    height: 291px;

    box-sizing: border-box;
    border: 1px solid;
    border-image: var(--color-linear-gradient-inactive) 1;
    background-color: var(--color-black-50);
    padding: 38px 32px 25px;
    transition: all var(--transition-behavior);

    @include card-position(1, 0, 0, 0, 0);
    @include card-position(2, 56px, 0px, 1px, 416px);
    @include card-position(3, 134px, 0px, 0px, 821px);
    @include card-position(4, 323px, 0px, 0px, 0px);
    @include card-position(5, 378px, 0px, 0px, 415px);
    @include card-position(6, 456px, 0px, 0px, 819px);

    &:hover {
      border-image: var(--color-linear-gradient-active) 1;

      &  .our-service__card-text {
        color: transparent;
      }

      & > .our-service__card-link {
        opacity: 1;
      }
    }

    &-img {
      width: 48px;
      height: 48px;

      margin-bottom: 58px;
    }

    &-title {
      margin-bottom: 12px;
      @include h7;
    }

    &-text {
      background-image: linear-gradient(180deg, var(--color-grey-1) -20%, transparent);
      background-clip: text;
      -webkit-background-clip: text;
      transition: color var(--transition-behavior);

      @include body2;
    }

    &-link {
      align-self: center;
      z-index: 1;

      opacity: 0;
      transition: opacity var(--transition-behavior);

      text-decoration: none;
      text-transform: uppercase;
      text-align: center;

      @include button1;
      @include interactive-gradient-border(rgba(255, 255, 255, 0.06), 'hover');

      & {
        position: absolute;
        bottom: 30px;
      }
    }
  }

  @include desktop {
    &__description {
      flex-direction: column;
      row-gap: 25px;

      margin-bottom: 25px;
    }

    &__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 32px;

      & > .our-service__card {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}