@import 'mixins/fonts';
@import 'mixins/gradient-text';
@import 'mixins/interactive-gradient-border';
@import 'mixins/background-light';

@mixin cards-wrapper-margins($number, $margin-top, $margin-right) {
  &:nth-of-type(#{$number}) {
    margin-top: $margin-top;
    margin-right: $margin-right;
  }
}

.our-service {
  &__description {
    display: flex;
    justify-content: space-between;

    margin-bottom: 46px;

    @include background-light('/src/assets/light_3.png', 613px, 619px, -205px, -140px, auto, auto);

    &-caption {
      margin-bottom: 11px;

      @include caption1;
      @include gradient-caption;
    }

    &-header {
      @include h2;
    }

    &-text {
      max-width: 667px;
      margin-top: 3px;

      @include body1;
    }
  }

  &__cards {
    display: flex;

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @include cards-wrapper-margins(1, 0, 36px);
      @include cards-wrapper-margins(2, 57px, 26px);
      @include cards-wrapper-margins(3, 135px, 0);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 379px;
    height: 291px;

    box-sizing: border-box;
    border: 1px solid;
    border-image: var(--color-linear-gradient-inactive) 1;
    background-color: var(--color-black-50);
    padding: 38px 32px 25px;
    transition: all var(--transition-behavior);

    &:hover {
      border-image: var(--color-linear-gradient-active) 1;

      &  .our-service__card-text {
        color: transparent;
      }

      & > .our-service__card-link {
        opacity: 1;
      }
    }

    &-img {
      width: 48px;
      height: 48px;

      margin-bottom: 58px;
    }

    &-title {
      margin-bottom: 12px;
      @include h7;
    }

    &-text {
      background-image: linear-gradient(180deg, var(--color-grey-1) -20%, transparent);
      background-clip: text;
      -webkit-background-clip: text;
      transition: color var(--transition-behavior);

      @include body2;
    }

    &-link {
      align-self: center;
      z-index: 1;

      opacity: 0;
      transition: opacity var(--transition-behavior);

      text-decoration: none;
      text-transform: uppercase;
      text-align: center;

      @include button1;
      @include interactive-gradient-border(rgba(255, 255, 255, 0.06), 'hover');

      & {
        position: absolute;
        bottom: 30px;
      }
    }
  }
}